<% provide(:title, 'ログイン画面') %>

<%= form_with model: @session, local: true, class: "form-signin" do |f| %>
  <h1 class="h3 font-weight-normal mb-4"><%= yield(:title) %></h1>
  <div class="form-label-group">
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力してください" %>
    <%= f.label "メールアドレス" %>
  </div>
  <div class="form-label-group">
    <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
    <%= f.label "パスワード" %>
  </div>
  <div class="mb-3">
    <%= f.submit 'ログイン', class: "btn btn-primary" %>
  </div>
<% end %>
