  <div class="form-group">
    <%= f.label :name, class: "d-block text-secondary text-left" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "d-block text-secondary text-left" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="custom-file">
      <%= f.file_field :userimage, class: "custom-file-input", id: "customFile" %>
      <%= f.label "ユーザー画像の設定", name: :userimage, class: "custom-file-label", for: "customFile" %>
     </div>
    <script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "d-block text-secondary text-left" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "d-block text-secondary text-left" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
