<% provide(:title, 'サインアップ') %>
<%= render "shared/error-user" %>
<%= form_with model: @user, url: user_path, local: true, class: "form-signin" do |f| %>
<h1 class="h3 font-weight-normal mb-4"><%= yield(:title) %></h1>
  <div class="form-label-group">
    <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力してください" %>
    <%= f.label :email, "メールアドレス" %>
  </div>
  <div class="form-label-group">
    <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
    <%= f.label :password, "パスワード" %>
  </div>
  <div class="form-label-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認用としてパスワードをもう一度入力してください" %>
    <%= f.label :password_confirmation %>
  </div>
  <div class="mb-3">
    <%= f.submit 'サインアップ', class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "ログインする", login_path %>
  </div>
<% end %>
