<% provide(:title, 'サインアップ') %>
<%= form_with model: @user, url: signup_path, local: true, class: "form-signin" do |f| %>
<h1 class="h3 font-weight-normal mb-4"><%= yield(:title) %></h1>
  <div>
    <%= f.label :email, "メールアドレス", class: "sr-only" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div>
    <%= f.label :password, "パスワード", class: "sr-only" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div>
    <%= f.label :password_confirmation, "【確認用】パスワード", class: "sr-only" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit 'サインアップ', class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "ログインする", login_path %>
  </div>
<% end %>
