<div class="top-mainVisual-wrapper">
<div class="container top-mainVisual-container">
<h1 class="text-center top-mainVisual-headline">Welcome to<br>My Portfolio</h1>
<p class="text-center margin-bottom-remove margin-top--sm description">私が担当・制作させて頂いたWebサイトのご紹介</p>
</div>
</div>
<article class="each-wrapper padding-top--lg padding-bottom--lg">
<div class="container">
<div class="row">
<div class="col section-title-container margin-bottom--md">
<h2 class="title-en margin-bottom-remove">Latest</h2>
<p class="title-ja margin-bottom-remove">最新情報</p>
</div>
<% if @posts.present? %>
<div class="col text-right">
  <%= link_to "すべて見る", :posts, class: "btn btn-outline-primary" %>
</div>
<% end %>
</div>
<% if @posts.present? %>
<div class="row">

<% @posts.each do |post| %>
<section class="col-12 col-md-6 col-lg-4 each-section-posts">
  <%= link_to post, class: "d-block each-section-posts-link" do %>
  <div class="each-section-posts-inner">
  <div class="posts-image-container">
    <% if post.img? %>
      <%= image_tag post.img.url, alt: post.title %>
    <% else %>
      <%= image_tag "https://themes.getbootstrap.com/wp-content/uploads/2019/10/screenshot-1-600x450.jpg", class: "img-fluid" %>
    <% end %>
  </div>
  <div class="posts-title-inner">
  <h2 class="posts-title"><%= post.title %></h2>
  <p class="read-more margin-bottom-remove"><i class="fa fa-angle-right" aria-hidden="true"></i>詳しく見る</p>
  </div>
  </div>
  <% end %>
</section>
<% end %>
<div class="col-12 text-center">
  <%= link_to "すべて見る", :posts, class: "btn btn-outline-primary" %>
</div>
<% else %>
<p>まだ投稿がありません。</p>
<% end %>
</div>
</div>
</article>
<article class="each-wrapper padding-top--lg padding-bottom--lg">
<div class="container">
<div class="row">
<div class="col-12 section-title-container margin-bottom--md">
<h2 class="title-en margin-bottom-remove">Banners</h2>
<p class="title-ja margin-bottom-remove">今まで制作させていただいたバナーのご紹介</p>
</div>
</div>
<% if @banners.present? %>
<div class="row photoswipe-gallery">
<% @banners.each do |banner| %>
<section class="col-12 col-md-6 col-lg-4 each-section-banners">
<figure class="photoswipe-figure text-center">
  <% if banner.img? %>
    <%= link_to banner.img.url, class: "photoswipe-link d-block", data: { size: "1500x4000" } do %>
      <%= image_tag banner.img.url, class: "photoswipe-img" %>
    <% end %>
    <figcaption><%= banner.title %></figcaption>
  <% end %>
</figure>
</section>
<% end %>
</div>
<%= render "banners/control_photoswipe" %>
<% else %>
<p>まだ投稿がありません</p>
<% end %>

</div>
</div>
</article>
