<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <div class="custom-file">
    <%= f.file_field :img, class: "custom-file-input", id: "customFile" %>
    <%= f.label :img, name: "img", class: "custom-file-label", for: "customFile" %>
  </div>
  <p><%= f.check_box :remove_img %> 画像を削除する</p>
</div>
<div class="form-group">
  <%= f.label :urls %>
  <%= f.text_field :urls, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, size: "20x10", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, 'data-provider': :summernote, class: "form-control", id:"summernote" %>
</div>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
$(document).ready(function() {
  $('#summernote').summernote({
    placeholder: '記事本文を入力しましょう',
    tabsize: 3,
    height: 400,
    lang: 'ja-JP', /*日本語対応*/

<<<<<<< HEAD
    onImageUpload: function(files, editor, welEditable) {
        sendFile(files[0], editor,welEditable);
    }
=======
    // onImageUpload: function(files, editor, welEditable) {
    //     sendFile(files[0], editor,welEditable);
    // }
>>>>>>> update-work
    });
  });
</script>
