<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <div class="custom-file">
    <%= f.file_field :img, class: "custom-file-input", id: "customFile" %>
    <%= f.label :img, name: "img", class: "custom-file-label", for: "customFile" %>
  </div>
  <p><%= f.check_box :remove_img %> 画像を削除する</p>
</div>
<div class="form-group">
  <%= f.label :urls %>
  <%= f.text_field :urls, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, size: "20x10", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, 'data-provider': :summernote, class: "form-control", id:"summernote" %>
</div>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
// $(document).ready(function() {
//   $('#summernote').summernote({
//     placeholder: '記事本文を入力しましょう',
//     tabsize: 3,
//     height: 600,
//     lang: 'ja-JP', /*日本語対応*/

//     onImageUpload: function(files, editor, welEditable) {
//             sendFile(files[0],editor,welEditable);
//         }
//     });
//     function sendFile(file,editor,welEditable) {
//     data = new FormData();
//     data.append("file", file);
//     $.ajax({
//         data: data,
//         type: "POST",
//         url: "/post/uploads",
//         cache: false,
//         contentType: false,
//         processData: false,
//         success: function(url) {
//                 editor.insertImage(welEditable, url);
//         }
//     });
// }
//   });
</script>
<script>
var deleteFile, sendFile;

sendFile = function (file, toSummernote) {
  var data;
  data = new FormData;
  data.append('upload[image]', file);
  return $.ajax({
    data: data,
    type: 'POST',
    url: '/uploads',
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      var img;
      img = document.createElement('IMG');
      img.src = data.url;
      console.log(data);
      img.setAttribute('id', "sn-image-" + data.upload_id);
      return toSummernote.summernote('insertNode', img);
    }
  });
};

deleteFile = function (file_id) {
  return $.ajax({
    type: 'DELETE',
    url: "/uploads/" + file_id,
    cache: false,
    contentType: false,
    processData: false
  });
};

$(document).on('turbolinks:load', function () {
  return $('[data-provider="summernote"]').each(function () {
    return $(this).summernote({
      placeholder: '記事本文を入力しましょう',
      lang: 'ja-JP',
      height: 500,
      callbacks: {
        onImageUpload: function (files) {
          return sendFile(files[0], $(this));
        },
        onMediaDelete: function (target, editor, editable) {
          var upload_id;
          upload_id = target[0].id.split('-').slice(-1)[0];
          console.log(upload_id);
          if (!!upload_id) {
            deleteFile(upload_id);
          }
          return target.remove();
        }
      }
    });
  });
});
</script>
