<% provide(:title, @post.title) %>
<div class="container margin-top--lg">
<div class="row">
<div class="col-12 col-md-10 ol-lg-8 col-xl-7 m-auto">
<%= render "shared/error" %>
<div class="text-right">
  <%= link_to "編集する", edit_post_path, class: "btn btn-info" %>
  <%= link_to "削除する", @post, method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
</div>
<h1 class="h3 mb-3"><%= @post.title %></h1>
<% if @post.urls? %>
  <%= link_to @post.urls, target: :_blank do %>
    <div class="text-center mb-4 post-mainVisual" <% if @post.img? %> style="background: url(<%= @post.img.url %>) no-repeat; background-size: cover; height: 400px;">
      <% else %>
    <%= image_tag "https://themes.getbootstrap.com/wp-content/uploads/2019/10/screenshot-1-600x450.jpg", class: "img-fluid" %>
    <% end %>
    </div>
  <% end %>
<% else %>
  <div class="text-center mb-4 post-mainVisual" <% if @post.img? %> style="background: url(<%= @post.img.url %>) no-repeat; background-size: cover; height: 400px;">
    <% else %>
  <%= image_tag "https://themes.getbootstrap.com/wp-content/uploads/2019/10/screenshot-1-600x450.jpg", class: "img-fluid" %>
    <% end %>
  </div>
<% end %>
<% if @post.urls? %>
<p class="text-right"><%= link_to "サイトURLはこちら", @post.urls, target: :_blank %></p>
<% else %>

<% end %>
<p><%= @post.body %></p>
</div>
</div>
