<header>
  <nav class="navbar navbar-expand-md fixed-top header-nav">
    <div class="container">
        <div class="mr-auto"><%= link_to "My Portfolio", :root, class: "navbar-brand font-weight-bold" %></div>
        <div class="ml-auto">
        <% if current_user %>
        <div class="dropdown">
        <button id="login-user-info" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <% if current_user.userimage? %>
        <%= image_tag current_user.userimage.url, id: "img-avatar" %>
        <% else %>
        <%= image_tag ("/uploads/default/default-userimage.svg"), id: "img-avatar" %>
        <% end %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "マイページ", :user, class: "dropdown-item" %>
          <%= link_to "ユーザーを編集する", :edit_user, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "新規投稿する", :new_post, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウトする", :logout, class: "dropdown-item", method: :delete, data: { confirm: "本当にログアウトしますか？" } %>
        </div>
        </div>
        <% else %>
          <%= link_to "ログイン", :login, class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </nav>
</header>
